body {background-color: rgb(221, 221, 221);}
h1 {text-align: center;}
.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  margin: 40px auto
}
.card {
  background-color: #fff;
  border-radius: 3px;
  margin: 5px;
  padding: 10px;
  width: 22%
}
img {
  width: 130px;
  display: block;
  margin: auto;
  border-radius: 50%;
}
input {
  width: 75%;
  margin: 70px auto;
  display: block;
  padding: 5px 10px;
  border-radius: 3px;
  border:none
}
@media screen and (max-width: 800px) {
  img {width: 100px}
  .card {width: 40%}
}